{{ if not .isServer -}}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# ... existing code ...
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

export EDITOR="nvim"
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"
{{- else -}}
# Minimal zsh config for servers
setopt HIST_IGNORE_ALL_DUPS
PROMPT='%n@%m:%~ %# '
export EDITOR="vim"
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"
{{- end -}}