{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Update package list and install essential tools
sudo apt-get update
sudo apt-get install -y zsh vim wget git build-essential

# Change default shell to zsh
{{ if not .devcontainer }}
chsh -s "$(which zsh)"
{{ else }}
sudo chsh -s "$(which zsh)" $USER
{{ end }}

# Install Neovim
INSTALL_DIR="$HOME/nvim"
BIN_DIR="$HOME/bin"
SYMLINK="$BIN_DIR/nvim"
mkdir -p "$INSTALL_DIR" "$BIN_DIR"
curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz
tar -xzf nvim-linux64.tar.gz -C "$INSTALL_DIR" --strip-components=1
rm nvim-linux64.tar.gz
ln -sf "$INSTALL_DIR/bin/nvim" "$SYMLINK"

{{ if not .devcontainer }}
# Install Miniforge (Conda)
if ! command -v conda >/dev/null 2>&1; then
    curl -LO "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
    bash Miniforge3-$(uname)-$(uname -m).sh -b
    rm Miniforge3-$(uname)-$(uname -m).sh
    ~/miniforge3/condabin/conda init
fi
{{ end }}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Enable key repeat
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

# Install Xcode command-line tools
xcode-select --install

# Install Homebrew if not installed
if ! command -v brew >/dev/null 2>&1; then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install essential tools using Homebrew
brew install coreutils wget vim git neovim miniforge tmux

{{ end -}}