{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get update
sudo apt install zsh
sudo apt-get install -y vim wget git build-essential

chsh -s $(which zsh)

# Install nvim
curl -LO https://github.com/neovim/neovim/releases/download/stable/nvim-linux64.tar.gz
tar xzvf nvim-linux64.tar.gz -C ~/.local --strip-components=1

# Install miniconda
if ! conda --version
then
    MINICONDA_FILE=Miniconda3-latest-Linux-x86_64.sh
    wget https://repo.anaconda.com/miniconda/$MINICONDA_FILE
    bash $MINICONDA_FILE
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install homebrew if it's not there already.
if ! brew --version
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    brew install coreutils wget vim git
fi


if ! conda --version
then
    MINICONDA_FILE=Miniconda3-latest-MacOSX-x86_64.sh
    wget https://repo.anaconda.com/miniconda/$MINICONDA_FILE
    echo "7406579393427eaf9bc0e094dcd3c66d1e1b93ee9db4e7686d0a72ea5d7c0ce5 $MINICONDA_FILE" | sha256sum --check || exit 1
    bash $MINICONDA_FILE
fi


{{ end -}}
