{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{ if .runSudo }}
# System packages
sudo apt update
sudo apt install -y zsh vim wget git build-essential make unzip gcc ripgrep tmux

# Homebrew
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Homebrew packages
brew install gcc cesarferreira/tap/stax

# GitHub CLI
(type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
	&& sudo mkdir -p -m 755 /etc/apt/keyrings \
	&& out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
	&& cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
	&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
	&& sudo mkdir -p -m 755 /etc/apt/sources.list.d \
	&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
	&& sudo apt update \
	&& sudo apt install gh -y

# Default shell
sudo chsh -s "$(which zsh)" "$USER"
{{ else }}
chsh -s "$(which zsh)" "$USER"
{{ end }}

# Claude Code CLI
curl -fsSL https://claude.ai/install.sh | bash

# opencode CLI
curl -fsSL https://opencode.ai/install | bash

# Codex CLI
npm i -g @openai/codex

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# macOS defaults
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false
defaults write -g NSWindowShouldDragOnGesture -bool true

# Homebrew
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Homebrew packages
brew install coreutils wget vim git tmux gh cesarferreira/tap/stax

# Claude Code CLI
curl -fsSL https://claude.ai/install.sh | bash

# opencode CLI
curl -fsSL https://opencode.ai/install | bash

# Codex CLI
npm i -g @openai/codex

{{ end -}}
